# Code Practice 1

Q1

In [58]:
# The results are the following: (7, 7, 10, 0.4, 32) in order from 2+5 to 2**5
# 2+5 addes 2 and 5
# 2 + 5 also addes 2 and 5, spaces in between does not change the function of +
# 2*5 multiplies 2 and 5
# 2/5 divides 2 with 5
# 2**5 means 2^5= 2 to the power of 5
2+5, 2 + 5, 2*5, 2/5, 2**5

(7, 7, 10, 0.4, 32)

Q2

In [14]:
# x is initially 7, but with 3 added it is now 10; order matters in python
x=7
x=x+3
x

10

Q3

In [16]:
# y is 3 because it was defined to be equal to x after x was defined as 3 and before it was re-defined as 10
x = 3
y = x
x = 10
y

3

Q4

In [17]:
# it does run without error
# it produces the following : 1.5 abcabc
x = 3
x = x/2
y = 'abc'
z = y + y
print(x, z)

1.5 abcabc

Q5

In [18]:
# it does not run without error
# it is because x is a float while y is a string; z cannot be comupted with two different data types
x = 3
x = x/2
y = 'abc'
z = x + y
print(x, z)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

Q6

In [22]:
# It does run without error
# It produces the following: 3|24|8.0
x = 3
y = 24
z = y / x
print(x, y, z, sep='|')

3|24|8.0

Q7

In [23]:
# it does not run without error
# y is a string while x is an integer; z cannot be  computed with two different types of data
x = 3
y = '24' 
z = y/x
print(x, z)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

Q8

In [28]:
# It does run without error
# It produces the following: I am a #string
x = "I am a #string" #Whoa, a string!
print(x)

I am a #string

Q9

In [29]:
# It does run without error
# It produces the following: [1, 2, 3, 42, 43]
x = [1, 2, 3]
y = [42, 43]
z = x + y
print(z)

[1, 2, 3, 42, 43]

Q10

In [30]:
# It does not run without error
# x is a list while y is an integer; z cannot be computed with two different types of data
x = [1, 2, 3]
y = 42
z = x + y

TypeError: can only concatenate list (not "int") to list

Q11

In [41]:
# They are the following: (int, float, str, list, list) in order from x1 to x5
x1= 12
x2= 12.0
x3= '12.0'
x4= [12]
x5= [12, 12.0, '12.0']
type(x1), type(x2), type(x3), type(x4), type(x5)

(int, float, str, list, list)

Q12

In [53]:
# The results are the following: (int, float, str, str, str, list, list, int, builtin_function_or_method) in order from type(42) to tpye(print)
# type(42) is an integer because it is a whole number without decimals
# type(42.0) is a float because there is a 'floating' decimal
# type('42.0') is a string because it is written inside the single quotation marks
# type("42.0") is a string because it is written inside the double quotation marks
# type("""42.0""") is a string because it is written inside double quotation marks
# type([1, 2]) is a list because it contains elements inside [] brackets
# type([1] + [2]) is a list because [1]+[2] produces a list[1, 2]
# type(1+2) is a integer because 1+2 produces an integer 3
# type(print) is a builtin function because print is one of python function
type(42), type(42.0), type('42.0'), type("42.0"), type("""42.0"""), type([1, 2]), type([1]+[2]), type(1+2), type(print)

(int, float, str, str, str, list, list, int, builtin_function_or_method)

Q13

In [54]:
# The result is the following: float
# It is a float because the type function identifies the data type of what is in its first bracket which in this case is float()
type(float(str(int('1234'))))

float

Q14

In [55]:
# The result is the following: integer
# It is an integer because the type function identifies the data type of what is in its first bracket which is int()
type(int(float('12.34')))

int

Q15

In [72]:
# The results are the following: (1, 4) for len([1234]), len("1234")
# len([1234]) is 1 because the list only has one element
# len("1234") is 4 because there are 4 items in a string
len([1234]), len("1234")

(2, 4)

In [71]:
# len(1234) cannot be computed because 1234 is an integer and "length" cannot be measured for a number
len(1234)

TypeError: object of type 'int' has no len()

Q16

In [73]:
# it is an empty list so the length is 0
x=[]
type(x), len(x)

(list, 0)

Q17

In [135]:
# results are the following: ['a', 'b', 'c', 'd', 'e']
x = 'abcde'
y = list(x)
x =y
x

['a', 'b', 'c', 'd', 'e']

Q18

In [112]:
# Q18 -a
x=1234
y=float(x)
x=y
x

1234.0

In [113]:
# Q18 -b
x=1234
y=str(x)
x=y
x

'1234'

In [114]:
# Q18 -c
x=1234
y=str(x)
z=list(y)
x=z
x

['1', '2', '3', '4']

Q19

In [130]:
x = "luke, i am your father"
x.title()

'Luke, I Am Your Father'

Q20

In [131]:
# Q20 -a
x = "How many characters and words are in this string?"
len(x)

49

In [1]:
# Q20 -b
x = "How many characters and words are in this string?"
y = list(x)
x= y
x

['H',
 'o',
 'w',
 ' ',
 'm',
 'a',
 'n',
 'y',
 ' ',
 'c',
 'h',
 'a',
 'r',
 'a',
 'c',
 't',
 'e',
 'r',
 's',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'w',
 'o',
 'r',
 'd',
 's',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 'i',
 'n',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g',
 '?']

In [140]:
# Q20 -c
x = "How many characters and words are in this string?"
x.split()

['How', 'many', 'characters', 'and', 'words', 'are', 'in', 'this', 'string?']

In [146]:
# Q20 -d
x = "How many characters and words are in this string?"
len(x.split())

9

Q21

150 minutes